.field_wrapper {
  margin-bottom: 20px;
}

.button_group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 에러 메시지 */
.error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 4px;
  /* margin-bottom: 20px; */
}

.success {
  color: #4caf50;
  font-size: 0.875rem;
  margin-top: 4px;
  /* margin-bottom: 20px; */
}