.field_wrapper {
  margin-bottom: 20px;
}

.button_group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-secondary);
}

.links span {
  cursor: pointer;
  transition: color 0.2s;
}

.links span:hover {
  color: var(--button-primary);
  text-decoration: underline;
}

.divider {
  margin: 0 10px;
  cursor: default !important;
}

.divider:hover {
  color: var(--text-secondary) !important;
  text-decoration: none !important;
}

/* 에러 메시지 */
.error {
  color: var(--color-error);
  font-size: 0.875rem;
  margin-top: 4px;
  /* margin-bottom: 20px; */
}

.success {
  color: var(--color-success);
  font-size: 0.875rem;
  margin-top: 4px;
  /* margin-bottom: 20px; */
}